body{
    overflow: hidden;
}
.header{
    background-color: #EE7A00;
    width: 100%;
}
ng-md-icon{
    fill:white;
}
ng-md-icon:hover{
    fill: #007FBB;
}
.float{
    float: right;
}
a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
a:hover{
    color: #007FBB;
}
.subheader{
    height: 200px;
    width: 300px;

}
.animation
{
    margin:0;
    padding:0;
    width:100%;
    height:auto;
}
.searchicon{
    background-color: #FF8300;

}
.searchicon:hover{
    background-color: #EB5858;
}
.input{
    height: 32px;
    width: 450px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: none;
}
.input1{
    height: 32px;
    width: 225px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: none;
    border-left: 1px solid black;
}
.firstToolbar{
    margin-top: 5%;
    height: 45px;
    width: 960px;
    background-color: #428BCA;
}
.buttonFonts{
    color: #FAFCFE !important;
    font-weight: bolder;

}

.imageAlign{
    width: 232px;
    height: 350px;


}
.imageAlign1{
    width: 232px;
    height: 350px;
    padding: 0px;
    margin: 5px;
    border: 3px solid #F4F4F4;

}
.divBorder{
    border-bottom: 2px solid grey;
}
.divMargin{
    margin-top: 3%;
}
.mainDivMargin{
    margin-top: 5%;
}
.boxShadows{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);

}
