body{
    overflow: hidden;
}
.header{
    background-color: #EE7A00;
    width: 100%;
}
ng-md-icon{
    fill:white;
}
ng-md-icon:hover{
    fill: #007FBB;
}
.float{
    float: right;
}
a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
a:hover{
    color: #007FBB;
}
.subheader{
    height: 200px;
    width: 300px;

}
.animation
{
    margin:0;
    padding:0;
    width:100%;
    height:auto;
}
.searchicon{
    background-color: #FF8300;

}
.searchicon:hover{
    background-color: #EB5858;
}
.input{
    height: 32px;
    width: 450px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: none;
}
.input1{
    height: 32px;
    width: 225px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: none;
    border-left: 1px solid black;
}
.firstToolbar{
    margin-top: 5%;
    height: 45px;
    width: 1137px;
    background-color: #428BCA;
}
.buttonFonts{
    color: #FAFCFE !important;
    font-weight: bolder;

}

.imageAlign{
    width: auto;
    height: auto;


}
.imageAlign1{
    width: auto;
    height: auto;
    padding: 0px;
    margin: 5px;
    border: 3px solid #F4F4F4;

}
.divBorder{

}
.divBorder:hover{
    border: 2px solid brown;
    box-shadow: 0px 0px 46px 8px rgba(0, 0, 0, 0.19);
    background-color: #fff;
    -webkit-transition-delay: 2s; /* Safari */
    transition-delay: 0.1s;
    transition-duration: 0.1s;
    color: #F36D52;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;

}
.divMargin{
    margin-top: 3%;
}
.mainDivMargin{
    margin-top: 5%;
}
.boxShadows{

}
.sizing{
    width: 1200px;
    height: 1300px;
}


footer{
    background-color: #515151;
    height: 400px;
}
.fbook{
    color: white;
    fill:white
}
.fbook1{
    margin-bottom: -40%;
    color: white;
}
.dialogdemoBasicUsage #popupContainer {
    position: relative; }
.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }

.wrapper {
    text-align: center;
}

.button2 {
    background-color: #EA6A55!important;
    color: white!important;
    position: absolute;
    top: 50%;
    right: -43px;
}
#rotate{
    vertical-align:top;
    margin-top:23px;
    width:150px;
    height:40px;
    transform:rotate(7deg);
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg); }

.rateEffect{
    color: #333745;
    font-size: 40px;

}